body{
    background-color: #111;

    color: #fff;
}

@font-face {
    font-family: Encode Sans Wide Regular;
    src: url('fonts/EncodeSansWide-Regular.ttf');
    font-weight: 100;
}

header {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    height: 35%;

    opacity: 0;
}

h1 {
    font-family: Encode Sans Wide Regular;
    font-size: 54pt;
    font-weight: 100;

    text-align: center;

    margin: 0;
}

h2{
    font-family: Encode Sans Wide Regular;
    font-size: 24pt;
    font-weight: 100;

    text-align: center;

    margin: .3em;
}

h3{
    font-family: Encode Sans Wide Regular;
    font-size: 20pt;
    font-weight: 100;

    text-align: center;

    margin: .3em;
}

/** Navigation **/
nav {
    text-align: center;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 999;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;

    font-family: Encode Sans Wide Regular;
    font-size: 14pt;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    background-color: #111111;
}

.active {
    background-color: #111111;
}

/** Footer **/
footer{
    height: 5%;
    position: fixed;
    bottom:0%;
    width:100%;
    opacity: 1;
}