@font-face {
    font-family: Encode Sans Wide Regular;
    src: url('fonts/EncodeSansWide-Regular.ttf');
    font-weight: 100;
}

/** Navigation **/
nav {
    text-align: center;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 999;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;

    font-family: Encode Sans Wide Regular;
    font-size: 14pt;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}